header {
    background-color: #1E1E24;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

footer {
    background-color: pink;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header {
  background-color: 1E1E24;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: medium;
}

.logo img {
  width: 120px;
  height: auto;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #FFEAD0;
  font-weight: 600;
  font-size: 30px;
}

.nav-menu a:hover {
    color: #ED217C;
}

.header-right {
  display: flex;
  align-items: center;
  
}

.header-right img {
  width: 60px;      /* adjust size */
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.header-right img:hover {
  opacity: 0.7;
}

/* about me session */

#about {
  background-color: #FFEAD0;;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 80px 40px;  
}

#about img {
  width: 450px;
  height: auto;
  /* border-radius: 12px; */
  display: flex; 
  box-shadow: 10px;
  /* padding: 10px 10px; */
  border-radius: 40px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

#about-text {
  display: flex;
  flex-direction: column;
}

#about-text h2 {
  margin: 0 0 15px 0;
  font-size: 60px;
  text-align: center;
}

#about-text p {
  margin: 0;
  font-size: 38px;
}

/* how can i help you session */

#canihelp {
  background-color: #1E1E24;
  color: #FFEAD0;
  padding: 90px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#canihelp h2 {
  color: #ED217C;
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 25px 0;
  line-height: 1.05;
  
}

#canihelp ul {
  margin: 0;
  padding-left: 40px;
  font-size: 38px;
  line-height: 1.4;
}

#canihelp li {
  margin-bottom: 10px;
}


/* portfolio session */
#portfolio {
  background-color: #FFEAD0;
  text-align: center;
  font-size: 40px;
}

/* contact session */

#contact {
  background-color: #1E1E24;
  color: #FFEAD0;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  font-size: 40px;
}

#contact a:hover {
    color: #ED217C;
}